.paste {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    flex: 1;
    padding: 30px 15px;
}
.paste:first-child {
    align-items: center;
}

.disabled-paste {
    display: none;
    position: absolute;
}
