* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #232222;
    color: #FFF;
}

body, input, button, textarea, p, h1, h2 {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}

h1 {
    font-size: 36px;
    font-family: "Roboto", sans-serif;
}

h2 {
    font-size: 24px;
    font-family: "Roboto", sans-serif;
}
