
.home-title {
    margin-bottom: 65px;
}

.flex-container {
    display: flex;
    height: auto;
    width: auto;
    margin-left: 150px;
    
    .button-home {
        grid-area: button;
        margin-right: 15px;
    }
 
}

.grid-title {
    grid-area: title;
    margin-bottom: 20px;
}



