.home-page {
    display: flex;
    
    main {
        height: 100vh;
        width: 100%;

        .page-title {
            font-weight: 700;
            text-align: end;
            margin: 30px 35px 35px 0;
        }

        h1 {
            margin-bottom: 65px;
        }

        .grid-container {
            display: grid;
            grid-template-areas: 
            'title title'
            'button server';
        }

        .grid-title {
            grid-area: title;
            margin-bottom: 20px;
        }

        .button-home {
            grid-area: button;
            margin-left: 160px;
        }
        
        .server {
            width: 600px;
            grid-area: server;
        }
    }
}